<p>make-res works!</p>
<head>
    <title>Make a reservation</title>
    <!-- Link to Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-5">Make a reservation</h1>
        <form>
            <div class="form-group">
                <label for="date">Date</label>
                <input type="date" class="form-control" id="date" required>
            </div>
            <div class="form-group">
                <label for="time">Time</label>
                <input type="time" class="form-control" id="time" required>
            </div>
            <div class="form-group">
                <label for="players">Number of players</label>
                <output type="number" class="form-control" id="price" min="0" step="0.01" required>test</output>
              </div>
              
            <div class="form-group">
                <label for="price">Price</label>
                <output type="number" class="form-control" id="price" min="0" step="0.01" required>test</output>
            </div>
           
            <div class="form-group">
                <label for="id_pitch">Select  Player</label>
                <select class="form-control" class="form-group" id="players" required>
                    <option value="10">10</option>
                    <option value="12">12</option>
                    <option value="14">14</option>
                    <option value="16">16</option>
                    <option value="18">18</option>
                  </select>
            </div>
            <div class="form.group">
                <label>Teams members</label>
                <table id="pitch-table" class="form-control" style="border-top: 1px solid black; border-bottom: 1px solid black;">
                    <tbody style="border-radius: 3px;">
                      <td style="border: 1px solid black;">xxxx</td>
                      <td style="border: 1px solid black;">xxxx</td>
                      <td style="border: 1px solid black;">xxxx</td>
                    </tbody>
                  </table>
            </div>
            
            
           
           
    

            <button type="submit" class="btn btn-success">Confirm</button>
        </form>
    </div>
</body>
<script>
    const selectElement = document.getElementById('id_players');
const tableElement = document.getElementById('players-table');

selectElement.addEventListener('change', () => {
  const selectedOptions = selectElement.selectedOptions;
  for (const option of selectedOptions) {
    const row = tableElement.insertRow();
    const cell = row.insertCell();
    cell.innerHTML = option.value;
  }
});
</script>